<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short your url</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        header-nav {
            font-size: 1.8em;
        }

        .container {
            margin-bottom: 80px;
        }

        .my-card-container>.my-card {
            background-color: rgb(169, 240, 173);
        }

        .my-card-container>.my-card~.my-card {
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light header-nav">
            <a href="/" class="navbar-brand">Short Your URL</a>
        </nav>
    </header>
    <div class="container">
        <form action="/shorturls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
            <button class="btn btn-success" type="submit">Short</button>
        </form>
        <div class="row my-card-container">
            <% shortUrls.forEach(shortUrl=> { %>
                <div class="card border-dark mb-3 my-card"
                    style="max-width: 18rem; max-height: 300px; overflow-wrap: normal; margin-left: auto; margin-right: auto;">
                    <div class="card-header">Shortened Url</div>
                    <div class="card-body text-dark">
                        <h4 class="card-title"><a class="shorturllink" target="_blank" href="<%= shortUrl.short %>"><h6 class="text-dark text-decoration-none" style="display: inline;">Short Url: </h6><%= shortUrl.short %>
                            </a></h4>
                        <p class="card-text" style="overflow: scroll;"><a target="_blank" href="<%= shortUrl.full %>">
                                <%= shortUrl.full %>
                            </a></p>
                        <p class="card-text">Clicks: <%= shortUrl.clicks %>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <footer class="page-footer font-small blue fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &#169; <%=new Date().getFullYear()%> Copyright
        </div>
    </footer>
</body>

</html>